.comment {
  width: 100%;
  display: flex;
  align-items: start;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}



.comment__avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment__avatar {
  margin-right: 10px;
}

.comment__author {
  font-weight: 700;
  margin-bottom: 10px;
}

.comment__date {
  margin-left: auto;
  font-size: 14px;
}
